*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}
body{
    background-color:#141C27;
}
.navbar > a {
    text-decoration: none;
    color: #05B8BB;
    font-size: 20px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: right;
    gap: 44px;
    margin-right: 10px;
    height:70px;
    position: relative;
}
.logo{
position:absolute;
left:10px;
top:10px;
}
.wraper1{
    height:30vh;
    background-color: #032863;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
.wraper2{
    height:30vh;
    background-color: #032863;
    clip-path: polygon(0 0%, 100% 0%, 100% 60%, 0 25%);
}


.wraper3{
    height:30vh;
    background-color: #032863;
    clip-path: polygon(0 35%, 100% 75%, 100% 100%, 0 100%);

}