@import "global.style.css";
.introduction{
    position:absolute;
    top: 300px;
    right: 520px;
    transform: rotate(-45);
    color: black;
    left: 25px;
    
}
.wraper1 {
    position: relative;
  }
  .past_link{
    position:absolute;
    top: 480px;
    right: 530px;
    transform: rotate(-45);
    color: black;
  }
  .wavingrobot{
    position:absolute;
    top: 140px;
    right: 10px;
    transform: rotate(-45);
  }

