@import "global.style.css";

.introduction {
  position: absolute;
  top: 300px;
  right: 1100px;
  transform: rotate(-45);
  color: rgb(0, 0, 0);
  left: 25px;
  font-size: 1.5rem;

}

.past_link {
  position: absolute;
  top: 390px;
  right: 1430px;
  transform: rotate(-45);
  color: black;
}

.wavingrobot {
  position: absolute;
  top: 110px;
  right: 70px;
  transform: rotate(-45);
  width: 600px;
  left: 1150px;
}

.button {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 390px;
  top: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background: #032863;
  border-radius: 15px;
  transition: background-color 0.15s,
      color 0.15s;
}

.button:hover{
  background-color: #0044B0;

}
.button:active{
  opacity: 0.7;
}
.buttontext {
  color: white;
  text-decoration: none;
  position: absolute;
}

.Heading {
  position: absolute;
  top: 100px;
  left: 300px;
  right: 900px;
  color: azure;
  background: linear-gradient(89.84deg, #0EF6CC 12.18%, #147072 53.25%);

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

  background-clip: text;
  font-size: 3rem;
}
/* Logo Carousel */
@keyframes slide {
  from {
  transform: translateX(0);
  }
  to {
  transform: translateX(-100%);
  }
  }
  .logos {
  overflow: hidden;
  padding: 60px 0;
  top: 50px;
  white-space: nowrap;
  position: relative;
  }
  .logos:before,
  .logos:after {
  position: absolute;
  top: 500;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
  }
  .logos:before {
  left: 0;
  
  }
  .logos:after {
  right: 0;
  
  }
  .logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
  }
  .logos-slide img {
  height: 90px;
  margin: 0 30px;
  }